@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #141414;
  --primary-color: #141414;
  --secondary-color: #080808;
  --text-color: #666666;
  --accent-color: #fffcfac0;
  --secondary-faded-color: #08080849;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.stroke-font {
  font-style: italic;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color);
  color: transparent;
}
