@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-main: #141414;
        --secondary-main: #080808;
        --border-color: #222222;
        --accent-main: #fffcfa;
        --text-main: #666666;

        --background: #0a0a0a;
        --primary-color: #141414;
        --secondary-color: #080808;
        --text-color: #666666;
        --accent-color: #fffcfa;
    }
}

@layer components {
    .text-stroke {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--text-color);
        color: transparent;
    }
}

body {
    color: var(--text-color);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
